[Unit]
Description=Meteor app
After=network.target

[Service]
User=meteoruser
Group=meteoruser
ExecStart=/usr/bin/node --max_old_space_size=880 --gc_interval=100 /opt/<%= appName %>/app/main.js

[Install]
WantedBy=multi-user.target
